<!--Template for populating the table with materials-->
<tr>
  <td>{{material.name}}</td>
  <td>{{material.thickness}}</td>
  <td>{{material.k_value}}</td>
  <td>{{round-number material.resistivityFinal 3}}</td>
  <td>
  	{{#unless material.is_const}}
      <button {{action "deleteMaterial" materialID}}>Delete Material</button>
    {{else}}
      -
    {{/unless}}
  </td>
</tr>

