<!--Template for populating the table with PVs-->
<tr>
  <td>{{pv.peakPower}}</td>
  <td>{{pv.orientation}}</td>
  <td>{{pv.elevation}}</td>
  <td>{{pv.overshading}}</td>
  <td>
    <button {{action "deletePV" pvID}}>Delete PV</button>
  </td>
</tr>
